.nav{
    grid-area: n;
    background-color: cadetblue;
    padding: 20px; /*задаем интервал*/
}
.item a{
    color: white;
    text-decoration: none; /*Убираем подчеркивание ссылки*/
}

.item a.active{
    color: gold;
}

.friends {
    margin-top: 50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}